.ask-question {
    min-height: 80vh;
    background-color: #f1f2f3;

    .ask-ques-container {
        margin: auto;
        padding: 0px 20px 20px 20px;
        max-width: 1200px;

        h1 {
            padding: 5rem 0px 1rem 0px;
            font-size: 2.3rem;
            font-weight: 501;
        }

        form {
            .ask-form-container {
                padding: 20px;
                background-color: white;
                border-radius: 3px;
                box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
                    0 1px 4px rgb(0 0 0 / 10%);

                label {
                    h4 {
                        margin-bottom: 0%;
                        font-size: 1.3rem;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    p {
                        margin: 0%;
                        font-size: 13px;
                        padding: 3px 0px;
                    }

                    input,
                    textarea {
                        padding: 10px;
                        border: solid 1px #0000003e;
                        font-family: "Roboto", sans-serif;
                        width: calc(100% - 20px);
                        resize: none;
                    }
                }
            }

            .review-btn {
                margin: 2rem 0px;
                padding: 10px;
                background-color: #009dff;
                border: solid 1px #009dff;
                color: white;
                border-radius: 4px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #0086d8;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .ask-ques-container {
            padding: 0px 10px 10px 10px;

            h1 {
                padding: 3rem 0px 1rem 0px;
                font-size: 2rem;
            }

            form {
                .ask-form-container {
                    padding: 15px;

                    label {
                        h4 {
                            font-size: 1.1rem;
                        }

                        p {
                            font-size: 12px;
                        }

                        input,
                        textarea {
                            padding: 8px;
                            font-size: 14px;
                        }
                    }
                }

                .review-btn {
                    padding: 8px;
                    font-size: 14px;
                    margin: 1rem 0px;
                }
            }
        }
    }
}
