.question-details-page {
    width: calc(100% - 300px - 24px);
    margin: 1rem 0;

    h1 {
        font-size: revert;
        font-weight: revert;
    }

    .question-details-container {
        padding-bottom: 20px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.112);

        .question-details-container-2 {
            display: flex;

            .question-votes {
                padding: 5px 20px 5px 10px;

                p {
                    margin: 0%;
                    font-size: 25px;
                    text-align: center;
                }

                .votes-icon {
                    font-size: 40px;
                    cursor: pointer;
                    color: rgb(206, 203, 203);

                    &:active {
                        color: #ef8236;
                    }
                }
            }

            .question-body {
                line-height: 22px;
                white-space: pre-line;
            }

            .question-details-tags {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                p {
                    padding: 2px 7px;
                    margin: 5px 3px 0 3px;
                    font-size: 10px;
                    border-radius: 4px;
                    background-color: #e1ecf4;
                    color: #39739d;
                    text-decoration: none;
                    line-height: 22px;
                }
            }
        }
    }
}

section h3 {
    font-size: revert;
    font-weight: normal;
    padding: 1rem 0 0 0;
}

.question-actions-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        &:active {
            border-bottom: solid 2px black;
        }
    }
}

.question-details-container .question-details-tags p,
.post-ans-container p .ans-tags {
    padding: 5px 5px;
    margin: 3px;
    font-size: 13px;
    border-radius: 2px;
    background-color: #e1ecf4;
    color: #39739d;
    text-decoration: none;
    line-height: 22px;
}

.question-actions-user button,
.edit-question-btn {
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #939292;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.question-actions-user .question-actions-user div:nth-child(2) p,
.question-actions-user div:nth-child(2) .user-link {
    text-decoration: none;
    font-size: 14px;
    margin: 0%;
}

.user-link {
    display: flex;
    align-items: center;

    div {
        padding-left: 10px;
    }
}

/* post answer container */
.post-ans-container form {
    textarea {
        padding: 10px;
        border: solid 1px rgba(0, 0, 0, 0.3);
        font-family: 'Roboto', sans-serif;
        width: calc(100% - 20px);
        resize: vertical;
    }

    .post-ans-btn {
        margin: 20px 0px;
        padding: 10px 10px;
        background-color: #009dff;
        color: white;
        border: solid 1px #009dff;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            background-color: #0086d8;
        }
    }
}

/* Display answer container */
.display-ans {
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.112);

    p {
        font-size: 14px;
        line-height: 18px;
        padding-top: 1rem;
        white-space: pre-line;
    }
}

/* Responsive adjustments */
@media screen and (max-width: 820px) {
    .question-details-page {
        width: 100%;
        margin: 1rem 0;
    }

    .question-details-container {
        .question-details-container-2 {
            flex-direction: column;

            .question-votes {
                padding: 10px;
                text-align: center;
            }

            .question-body {
                margin-top: 10px;
            }
        }
    }
}
