.main_nav {
    // sizes
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    // boarder
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    // position
    position: fixed;
    z-index: 15;
    top: 0%;
    left: 0%;

    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
        height: 100%;
        min-width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .humbugger-icon {
            display: none;
            transition: 0.2s;
            padding: 5px 6px 3px 6px;
            border-radius: 50%;
            background-color: inherit;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: rgb(226, 226, 226);
            }
        }

        .mid-nav {
            display: flex;
            align-items: center;
            flex-grow: 1;


            .nav-logo {
                padding: 5px 25px;
            }

            .nav-item {
                margin: 0px 3px;
                font-size: small;
                font-weight: 500;
                text-decoration: none;
                color: #454545;
                transition: all 0.3s;

                &:hover {
                    background-color: rgb(226, 226, 226);
                }
            }

            .nav-btn {
                cursor: pointer;
                border-radius: 25px;
                padding: 8px 23px;
            }

            form {
                flex-grow: 1;
                padding: 0px 12px;
                position: relative;

                input {
                    min-width: 90%;
                    margin: 0;
                    padding: 8px 10px 8px 32px;
                    font-size: 13px;
                    border: solid 1px #0000003e;
                    border-radius: 3px;
                }

                .search-icon {
                    position: absolute;
                    left: 25px;
                    top: 8px;
                }
            }
        }

        .end-nav {
            display: flex;
            align-items: center;

            .nav-links {
                padding: 4px 15px;
                border: solid 1px blue;
                border-radius: 3px;
                background-color: #e7f8fe;
                cursor: pointer;

                &:hover {
                    background-color: #d3e4eb;
                }
            }
        }
    }
}



@media screen and (max-width: 800px) {
    .navbar .mid-nav form {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .main_nav {
        .navbar {
            .humbugger-icon {
                display: block;
            }
        }
    }


}

@media screen and (max-width: 620px) {
    .navbar .mid-nav .res-nav {
        display: none;
    }
}